# Results with Merged Dataset
#### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?
Remember to use your new dataset, `combined_dataset.csv`

# #Results with Merged Dataset
Use the notebook below to answer the final question with the merged dataset.

Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?

Here are the steps for answering this question.

1. Create a new dataframe, model_mpg, that contain the mean combined mpg values in 2008 and 2018 for each unique model
To do this, group by model and find the mean cmb_mpg_2008 and mean cmb_mpg for each.

2. Create a new column, mpg_change, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [2]:
# load dataset
import pandas as pd
df = pd.read_csv('combined_dataset.csv')

### 1. Create a new dataframe, `model_mpg`, that contain the mean combined mpg values in 2008 and 2018 for each unique model

To do this, group by `model` and find the mean `cmb_mpg_2008` and mean `cmb_mpg` for each.

In [3]:
model_mpg = df.groupby('model').mean()[['cmb_mpg_2008', 'cmb_mpg']]

In [4]:
model_mpg.head()

           cmb_mpg_2008    cmb_mpg
model
ACURA RDX     19.000000  22.500000
AUDI A3       23.333333  28.000000
AUDI A4       21.000000  27.000000
AUDI A6       19.666667  25.666667
AUDI A8 L     16.500000  22.000000

### 2. Create a new column, `mpg_change`, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

In [5]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']

In [8]:
model_mpg.head(100)

                   cmb_mpg_2008    cmb_mpg  mpg_change
model
ACURA RDX             19.000000  22.500000    3.500000
AUDI A3               23.333333  28.000000    4.666667
AUDI A4               21.000000  27.000000    6.000000
AUDI A6               19.666667  25.666667    6.000000
AUDI A8 L             16.500000  22.000000    5.500000
...                         ...        ...         ...
TOYOTA Yaris          31.500000  32.500000    1.000000
VOLKSWAGEN Jetta      24.166667  30.000000    5.833333
VOLKSWAGEN Passat     21.250000  29.000000    7.750000
VOLVO S60             21.333333  27.000000    5.666667
VOLVO XC 90           15.666667  32.200000   16.533333

[72 rows x 3 columns]

### 3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [6]:
max_change = model_mpg['mpg_change'].max()
max_change

16.533333333333339

In [7]:
model_mpg[model_mpg['mpg_change'] == max_change]

             cmb_mpg_2008  cmb_mpg  mpg_change
model
VOLVO XC 90     15.666667     32.2   16.533333

Pandas also has a useful [`idxmax`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html) function you can use to find the index of the row containing a column's maximum value!

In [12]:
idx = model_mpg.mpg_change.idxmax()
idx

'VOLVO XC 90'

In [10]:
model_mpg.loc[idx]

cmb_mpg_2008    17.0
cmb_mpg         16.0
mpg_change      -1.0
Name: MASERATI Granturismo, dtype: float64